@import "./../../../main/style.scss";

.icon-box {
    position: relative;
    border: 1px solid transparent;
    border-image: linear-gradient(99deg, #2BBFFE 5.86%, #8629FD 54.99%, #FC4AF5 100%);
    border-image-slice: 1;
    @include display-center(center, center);

    
    &--black {
        background-color: rgba(0, 0, 0, 0.5);
    }

    &--white {
        background-color: rgba($white, 0.5);
        border: none;
    }
    
    .icon-box__icon {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @include display-center(center, center);
        z-index: 2;
    }

    .icon-box__circle {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: linear-gradient(99deg, #2BBFFE 5.86%, #8629FD 54.99%, #FC4AF5 100%);
        border-radius: 50%;
        filter: blur(30px);
        z-index: 1;
    }
}