@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

input, button, textarea {
  font-family: inherit; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

body {
  background-color: #000;
  overflow-x: hidden; }
  body._body-hidden {
    overflow: hidden; }
  body ::-webkit-scrollbar {
    width: 10px; }
  body ::-webkit-scrollbar-track {
    background: #000; }
  body ::-webkit-scrollbar-thumb {
    background: linear-gradient(99deg, #2BBFFE 5.86%, #8629FD 54.99%, #FC4AF5 100%); }

.App {
  overflow-x: hidden; }

::selection {
  background: rgba(0, 109, 192, 0.5); }

.rolling__block {
  position: relative;
  height: 23px;
  overflow: hidden;
  transition: .5s; }
  .rolling__block:hover {
    transition: .5s; }
    .rolling__block:hover .rolling__block--before {
      transform: translateY(-23px); }
    .rolling__block:hover .rolling__block--after {
      transform: translateY(-23px); }
  .rolling__block .rolling__block--before, .rolling__block .rolling__block--after {
    transition: .5s; }
  .rolling__block .rolling__block--after {
    position: absolute; }

.social__media-wrapper {
  display: flex;
  column-gap: 20px; }

.App {
  overflow-x: hidden; }

.contacts {
  padding-top: 140px;
  margin-bottom: 140px; }
  .contacts .title__container-title {
    width: 600px; }
  .contacts__wrapper {
    padding: 0 120px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 40px; }
    .contacts__wrapper .contacts__info {
      display: flex;
      flex-direction: column;
      row-gap: 20px; }
      .contacts__wrapper .contacts__info-email {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: normal;
        letter-spacing: 0;
        color: #fff;
        text-transform: uppercase; }
      .contacts__wrapper .contacts__info-phone {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: normal;
        letter-spacing: 0;
        color: #fff; }
    .contacts__wrapper .contacts__form {
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      border-top: 2px solid rgba(255, 255, 255, 0.2); }
      .contacts__wrapper .contacts__form-row {
        display: flex;
        justify-content: space-between;
        column-gap: 24px; }
      .contacts__wrapper .contacts__form-box ::-webkit-scrollbar {
        width: 5px;
        border-radius: 5px; }
      .contacts__wrapper .contacts__form-box ::-webkit-scrollbar-track {
        transform: translateX(-55px);
        background: transparent; }
      .contacts__wrapper .contacts__form-box ::-webkit-scrollbar-thumb {
        transform: translateX(-55px);
        background: gba(255, 255, 255, 0.6);
        border-radius: 5px; }
      .contacts__wrapper .contacts__form-box__message {
        position: relative;
        overflow: hidden;
        height: 260px;
        background-color: #121212; }
      .contacts__wrapper .contacts__form-box__btn {
        margin: 30px auto 0px auto;
        width: 100%;
        height: 50px;
        background: linear-gradient(99deg, #2BBFFE 5.86%, #8629FD 54.99%, #FC4AF5 100%);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: normal;
        letter-spacing: 0;
        color: #fff; }
      .contacts__wrapper .contacts__form-box__heading {
        margin-bottom: 10px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: normal;
        letter-spacing: 0;
        color: #fff;
        display: flex;
        column-gap: 10px; }
        .contacts__wrapper .contacts__form-box__heading-clue {
          width: 18px;
          height: 18px;
          background-color: #fff;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center; }
      .contacts__wrapper .contacts__form-box__input {
        padding: 0 15px;
        height: 60px;
        width: 400px;
        background-color: #121212;
        outline: none;
        border: none;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: normal;
        letter-spacing: 0;
        color: #fff;
        -webkit-box-shadow: inset 0 0 0 50px #121212;
        -webkit-text-fill-color: #fff; }
        .contacts__wrapper .contacts__form-box__input::placeholder {
          color: rgba(255, 255, 255, 0.6); }
      .contacts__wrapper .contacts__form-box__textarea {
        padding: 0px;
        padding-right: 5px;
        margin: 15px 10px 15px 15px;
        width: calc(100% - 30px);
        height: 230px;
        resize: none;
        outline: none;
        overflow-y: auto; }

@media screen and (max-width: 1400px) {
  .contacts__wrapper {
    column-gap: 35px;
    width: 100%; }
    .contacts__wrapper .contacts__info {
      width: 230px;
      display: flex;
      flex-direction: column;
      row-gap: 20px; }
      .contacts__wrapper .contacts__info-email {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: normal;
        letter-spacing: 0;
        color: #fff;
        text-transform: uppercase; }
      .contacts__wrapper .contacts__info-phone {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: normal;
        letter-spacing: 0;
        color: #fff; }
    .contacts__wrapper .contacts__form {
      width: 100%;
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      border-top: 2px solid rgba(255, 255, 255, 0.2); }
      .contacts__wrapper .contacts__form-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        column-gap: 24px; }
      .contacts__wrapper .contacts__form-box {
        width: 100%; }
        .contacts__wrapper .contacts__form-box__message {
          height: 260px; }
        .contacts__wrapper .contacts__form-box__btn {
          margin: 30px auto 0px auto;
          width: 100%;
          height: 50px;
          column-gap: 20px; }
        .contacts__wrapper .contacts__form-box__input {
          width: 100%; }
        .contacts__wrapper .contacts__form-box__textarea {
          padding-right: 5px;
          margin: 15px 10px 15px 15px;
          width: calc(100% - 30px);
          height: 230px; } }
@media screen and (max-width: 1200px) {
  .contacts__wrapper {
    padding: 0 100px 0 185px; }
    .contacts__wrapper .contacts__info {
      width: 215px;
      row-gap: 15px; }
      .contacts__wrapper .contacts__info-email {
        font-size: 14px; }
      .contacts__wrapper .contacts__info-phone {
        font-size: 22px; }
    .contacts__wrapper .contacts__form .contacts__form-box__input {
      height: 50px; }
    .contacts__wrapper .contacts__form .contacts__form-box__message {
      height: 230px; }
    .contacts__wrapper .contacts__form .contacts__form-box__textarea {
      padding-right: 5px;
      margin: 15px 10px 15px 15px;
      width: calc(100% - 30px);
      height: 200px; } }
@media screen and (max-width: 1000px) {
  .contacts .title__container-title {
    width: 500px; }
  .contacts .animation-div {
    width: 100% !important; }
  .contacts__wrapper {
    padding: 0 80px 0 140px;
    flex-direction: column; }
    .contacts__wrapper .contacts__info {
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      column-gap: 50px; }
      .contacts__wrapper .contacts__info-email, .contacts__wrapper .contacts__info-phone {
        font-size: 20px; } }
@media screen and (max-width: 800px) {
  .contacts .title__container-title {
    width: 400px; }
  .contacts__wrapper {
    padding: 0 30px 0 70px; }
    .contacts__wrapper .contacts__info {
      column-gap: 30px; }
      .contacts__wrapper .contacts__info-email, .contacts__wrapper .contacts__info-phone {
        font-size: 15px; } }
@media screen and (max-width: 500px) {
  .contacts__wrapper {
    padding: 0 30px 0 30px; }
    .contacts__wrapper .contacts__info {
      flex-direction: column;
      column-gap: 20px; }
      .contacts__wrapper .contacts__info-email {
        font-size: 16px; }
      .contacts__wrapper .contacts__info-phone {
        font-size: 20px; }
    .contacts__wrapper .contacts__form {
      padding-top: 30px; }
      .contacts__wrapper .contacts__form-row {
        display: flex;
        flex-direction: column;
        row-gap: 30px; } }

/*# sourceMappingURL=contacts.css.map */
