@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

input, button, textarea {
  font-family: inherit; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

body {
  background-color: #000;
  overflow-x: hidden; }
  body._body-hidden {
    overflow: hidden; }

::selection {
  background: rgba(255, 255, 255, 0.2); }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #000; }

::-webkit-scrollbar-thumb {
  background: linear-gradient(99deg, #2BBFFE 5.86%, #8629FD 54.99%, #FC4AF5 100%); }

.App {
  overflow-x: hidden; }

.rolling__block {
  position: relative;
  height: 23px;
  overflow: hidden;
  transition: .5s; }
  .rolling__block:hover {
    transition: .5s; }
    .rolling__block:hover .rolling__block--before {
      transform: translateY(-23px); }
    .rolling__block:hover .rolling__block--after {
      transform: translateY(-23px); }
  .rolling__block .rolling__block--before, .rolling__block .rolling__block--after {
    transition: .5s; }
  .rolling__block .rolling__block--after {
    position: absolute; }

.social__media-wrapper {
  display: flex;
  column-gap: 20px; }

@media screen and (max-width: 600px) {
  .social__media-wrapper {
    column-gap: 15px; } }
.App {
  overflow-x: hidden; }

.footer {
  width: 100%;
  padding: 140px 120px 35px;
  background-color: #0C0C0C;
  padding-bottom: 35px;
  overflow: hidden;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 12; }
  .footer__top {
    margin-bottom: 140px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative; }
    .footer__top-logo {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .footer__top-logo svg {
        z-index: 1;
        cursor: pointer; }
      .footer__top-logo::after {
        content: "";
        width: 120px;
        height: 120px;
        background: linear-gradient(99deg, #2BBFFE 5.86%, #8629FD 54.99%, #FC4AF5 100%);
        filter: blur(50px);
        position: absolute;
        z-index: -1;
        left: -5%;
        top: -110%; }
    .footer__top-description {
      width: 335px;
      margin-top: 25px;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      color: #fff;
      font-style: normal;
      font-weight: 400;
      line-height: normal; }
      @media screen and (max-width: 800px) {
        .footer__top-description {
          font-size: 14px; } }
    .footer__top .social__media-wrapper {
      margin-top: 35px; }
    .footer__top-nav {
      width: auto;
      height: 200px; }
      .footer__top-nav .footer__nav .footer__list {
        display: flex;
        flex-direction: column;
        row-gap: 10px; }
        .footer__top-nav .footer__nav .footer__list .footer__item {
          cursor: pointer;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: normal;
          letter-spacing: 0;
          color: rgba(255, 255, 255, 0.6);
          transition: .4s; }
          .footer__top-nav .footer__nav .footer__list .footer__item:hover {
            color: #fff;
            transition: .4s; }
    .footer__top-form {
      width: auto; }
      .footer__top-form .footer__top-input {
        cursor: pointer; }
        .footer__top-form .footer__top-input input {
          -webkit-box-shadow: inset 0 0 0 50px #121212;
          -webkit-text-fill-color: #fff; }
    .footer__top-subTitle {
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      font-weight: 500;
      padding-bottom: 25px; }
      @media screen and (max-width: 1400px) {
        .footer__top-subTitle {
          font-size: 18px; } }
      @media screen and (max-width: 1000px) {
        .footer__top-subTitle {
          font-size: 22px; } }
      @media screen and (max-width: 1000px) {
        .footer__top-subTitle {
          font-size: 20px; } }
      @media screen and (max-width: 800px) {
        .footer__top-subTitle {
          font-size: 18px; } }
    .footer__top .error-message {
      font-family: 'Montserrat', sans-serif;
      color: #fff;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      color: #FF006B; }
      @media screen and (max-width: 1400px) {
        .footer__top .error-message {
          font-size: 18px; } }
      @media screen and (max-width: 1000px) {
        .footer__top .error-message {
          font-size: 22px; } }
      @media screen and (max-width: 1000px) {
        .footer__top .error-message {
          font-size: 20px; } }
      @media screen and (max-width: 800px) {
        .footer__top .error-message {
          font-size: 18px; } }
    .footer__top-input {
      width: 400px;
      height: 60px;
      background-color: #121212;
      display: flex; }
      .footer__top-input input {
        width: 340px;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0 15px;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: #fff;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: rgba(255, 255, 255, 0.6); }
        @media screen and (max-width: 800px) {
          .footer__top-input input {
            font-size: 14px; } }
      .footer__top-input button {
        width: 60px;
        height: 60px;
        background: linear-gradient(99deg, #2BBFFE 5.86%, #8629FD 54.99%, #FC4AF5 100%);
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center; }
  .footer__bottom {
    width: 100%;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: rgba(255, 255, 255, 0.6); }
    @media screen and (max-width: 800px) {
      .footer__bottom {
        font-size: 14px; } }
    .footer__bottom-line {
      width: 100%;
      height: 1px;
      background: linear-gradient(99deg, #2BBFFE 5.86%, #8629FD 54.99%, #FC4AF5 100%); }
    .footer__bottom p {
      text-align: center;
      margin-top: 35px; }

@media screen and (max-width: 1200px) {
  .footer {
    padding: 140px 100px 35px;
    background-color: #0C0C0C; }
    .footer__top {
      flex-wrap: wrap;
      gap: 80px; } }
@media screen and (max-width: 1000px) {
  .footer {
    padding: 140px 80px 35px;
    background-color: #0C0C0C; }
    .footer__top {
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 80px 100px; }
      .footer__top-form {
        text-align: center; } }
@media screen and (max-width: 800px) {
  .footer {
    padding: 140px 30px 35px;
    background-color: #0C0C0C; }
    .footer__top {
      flex-wrap: wrap;
      gap: 80px 100px; }
      .footer__top-description {
        width: 300px;
        margin-top: 25px;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: #fff;
        font-style: normal;
        font-weight: 400;
        line-height: normal; } }
      @media screen and (max-width: 800px) and (max-width: 800px) {
        .footer__top-description {
          font-size: 14px; } }

@media screen and (max-width: 560px) {
  .footer {
    padding: 140px 30px 35px;
    background-color: #0C0C0C; }
    .footer__top {
      width: 100%; }
      .footer__top-description {
        width: 100%;
        text-align: center; }
      .footer__top-nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .footer__top-nav .footer__nav .footer__list {
          align-items: center; }
      .footer__top-form {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center; }
      .footer__top-input {
        width: 400px;
        height: 50px;
        background-color: #121212;
        display: flex; }
        .footer__top-input input {
          width: 350px;
          height: 50px;
          background-color: transparent;
          border: none;
          outline: none;
          padding: 0 15px;
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;
          color: #fff;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          -webkit-text-fill-color: #fff;
          -webkit-box-shadow: inset 0 0 0 50px #121212; } }
        @media screen and (max-width: 560px) and (max-width: 800px) {
          .footer__top-input input {
            font-size: 14px; } }
@media screen and (max-width: 560px) {
        .footer__top-input div {
          width: 50px;
          height: 50px;
          background: linear-gradient(99deg, #2BBFFE 5.86%, #8629FD 54.99%, #FC4AF5 100%);
          display: flex;
          justify-content: center;
          align-items: center; }
        .footer__top-input button {
          width: 50px;
          height: 50px; }
      .footer__top-left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; } }
@media screen and (max-width: 500px) {
  .footer__top-logo::after {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  .footer__top-input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px; }
    .footer__top-input input {
      width: calc(100% - 50px);
      height: 100%; }
    .footer__top-input div {
      min-width: 50px;
      height: 50px; }
    .footer__top-input button {
      width: 50px;
      height: 50px; }
      .footer__top-input button svg {
        width: 28px;
        height: 28px; } }

/*# sourceMappingURL=footer.css.map */
