@import "./../../main/style.scss";

.home {
    height: 100vh;
    width: 100%;
    background-color: $black;
    @include display-center(space-between, none);
    flex-direction: column;
    // margin-bottom: 140px;


    .cursor {
        position: fixed;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px solid $white;
        background-color: rgb(0, 0, 0);
        z-index: 5;
        pointer-events: none;
    }

    .cursor-mini {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        pointer-events: none;
        background-color: $white;
        z-index: 5;
    }


    &__header {
        padding: 0 $main-padding;
        padding-top: 25px;
        @include display-center(space-between, center);

        .header__nav {
            .header__list {
                @include display-center(center, center);
                column-gap: 30px;

                .header__item {
                    @include display-center(center, center);
                    column-gap: 5px;
                    @include font($white, 16px, 600, normal, 0);
                    cursor: pointer;
                }

                .header__dropdown {
                    position: relative;
                    
                    &-arrow {
                        transition: .3s;
                    }

                    &:hover {
                        .header__dropdown-arrow {
                            transition: .3s;
                            transform: rotate(-180deg);
                        }

                        .header__dropdown-content__overlay {
                            z-index: 1;
                            transition: .5s;

                            .header__dropdown-content {
                                transform: translateY(0px);
                                opacity: 1;
                                z-index: 1;
                                transition: .5s;
                            }
                        }
                    }

                    &-content__overlay {
                        position: absolute;
                        top: 10px;
                        padding-top: 30px; // Pudding from top of link include (top of link - 10px => and -40px)
                        transition: .5s;
                        z-index: -1; // Reduction z-index for when card not active user cant open it 


                        .header__dropdown-content {
                            padding: 30px;
                            width: 660px;
                            height: 220px;
                            background: $ligth-dark;
                            display: flex;
                            column-gap: 80px;
                            overflow: hidden;
                            transform: translateY(-20px);
                            opacity: 0;
                            z-index: -1; 
                            transition: .5s;

                            &::before {
                                content: "";
                                position: absolute;
                                left: -80px;
                                bottom: -80px;
                                width: 250px;
                                height: 250px;
                                background: $main;
                                border-radius: 50%;
                                z-index: 1;
                                filter: blur(180px);
                            }


                            .header__dropdown--left, .header__dropdown--right {
                                display: flex;
                                flex-direction: column;
                                row-gap: 15px;
                                z-index: 2;

                                .header__dropdown-item {
                                    @include display-center(none, center);
                                    column-gap: 15px;

                                    .icon-box {
                                        position: relative;
                                        &::before {
                                            content: "";
                                            position: absolute;
                                            width: 50px;
                                            height: 50px;
                                            background: $main;
                                            border-radius: 50%;
                                            filter: blur(80px);
                                            z-index: -1;
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

        .header__btn {
            position: relative;
            width: 180px;
            height: 52px;

            background-color: transparent;
            @include font($white, 16px, 700, normal, 0);

            border: 1px solid transparent;
            border-image: $main;
            border-image-slice: 1;
            transition: .3s;
            overflow: hidden;


            & span {
                transform: translate(-50%, -50%);
                z-index: 2;

                background: $main;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            // &-circle {
            //     position: fixed;
            //     top: 0;
            //     left: 0;
            //     width: 40px;
            //     height: 40px;
            //     background: $main;
            //     border-radius: 50%;
            //     transform: translate(-50%, -50%) scale(0);
            //     transition: transform .2s;
            //     z-index: 0;
            //     pointer-events: none;
            //     overflow: hidden;
            //     z-index: 10;
            // }

            // &:hover {
            //     .header__btn-circle {
            //         transform: translate(-50%, -50%) scale(1);
            //         transition: transform .2s;
            //     }
            // }

            
            // & span {
            //     position: absolute;
            //     left: 50%;
            //     top: 50%;
            //     transform: translate(-50%, -50%);

                // background: $main;
                // background-clip: text;
                // -webkit-background-clip: text;
                // -webkit-text-fill-color: transparent;
            //     transition: .5s;   
            //     z-index: 2;
            // }

            // &:before {
            //     content: "";
            //     position: absolute;
            //     top: 0;
            //     left: -100%;
            //     width: 100%;
            //     height: 100%;
            //     background: $main;
            //     transition: .5s;
            //     z-index: 1; 
            // }


            // &:hover {
            //     &:before {
            //         left: 0;
            //     }

            //     & span {
            //         background: $white;
            //         background-clip: text;
            //         -webkit-background-clip: text;
            //         -webkit-text-fill-color: transparent;
            //         transition: .5s;   
            //     }
            // }
        }
    }


    &__intro {
        .intro__title {
            padding: 0 $main-padding;
            // padding-right: $section-padding;
            margin-bottom: 30px;
            @include font($white, 64px, 700, normal, 0);

            & strong {
                background: $main;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .intro__slider {
            margin-left: $main-padding;

            display: flex;
            column-gap: 20px;

            .intro__card {
                padding: 20px;
                width: 400px;
                height: 380px;
                background: rgba(161, 161, 161, 0.20);
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(25px);
                cursor: grab;


                &-header {
                    margin-bottom: 20px;
                    @include display-center(space-between, center);

                    .intro__card-title {
                        @include font($white, 20px, 600, normal, 0);
                    }

                    .intro__card-price {
                        @include font($white, 16px, 400, normal, 0);
                    }
                }


                &-img {
                    margin-bottom: 20px;
                    width: 100%;
                    height: 224px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;

                    &--1 {
                        background-image: url(../img/website-webdesign.jpg);
                    }
                    &--2 {
                        background-image: url(../img/webdesign.jpg);
                    }
                    &--3 {
                        background-image: url(../img/poster.jpg);
                    }
                    &--4 {
                        background-image: url(../img/business-cards.jpg);
                    }
                }
            }
        }
    }


    &__footer {
        padding: 0 $main-padding;
        margin-bottom: 20px;
        @include display-center(space-between, center);

        .social__media-wrapper { // Move to _base.scss
            display: flex;
            column-gap: 20px;
        }
    }
}

