@import "./../../main/style.scss";

.home {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: $black;
    @include display-center(space-between, none);
    flex-direction: column;
    overflow: hidden;

    .calculator {
        width: 80px;
        height: 80px;
        position: fixed;
        background: linear-gradient(99deg, rgba(43, 191, 254, 0.5) 5.86%, rgba(134, 41, 253, 0.5) 54.99%, rgba(252, 74, 245, 0.5) 100%);
        right: 0%;
        bottom: 0%;
        margin-bottom: -100px;
        margin-right: 30px;
        border-radius: 50%;
        @include display-center(center, center);
        opacity: 0;
        transition: 0.5s;
        z-index: -1;
        cursor: pointer;

        &:hover {
            svg {
                transition: .4s;
                opacity: 0.8;
            }
        }

        svg {
            position: relative;
            top: 3px;
            left: 3px;
            transition: .4s;
        }

        &::after {
            content: "";
            width: 100px;
            height: 100px;
            border: 1px solid rgb(92, 0, 128);
            position: absolute;
            border-radius: 50%;
        }
    }

    .calculator--show {
        display: flex;
        opacity: 1;
        transition: 0.5s;
        z-index: 2;
        margin-bottom: 30px;
    }

    &__interactive-element {
        position: absolute;
        z-index: 0;

        &--1 {
            top: 50%;
            transform: translate(-50%, -60%);    
            width: 400px;
            height: 400px;
            border-radius: 50%;
            background: $main;
            filter: blur(250px);
            animation: flyingAnimation-1 15s infinite;
        }

        &--2 {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            filter: blur(50px);
            animation: flyingAnimation-2 15s infinite;
        }

        &--3 {
            right: 0;
            top: 50%;
            transform: translate(50%, -60%);
            filter: blur(50px);
            animation: flyingAnimation-3 15s infinite;
        }
    }

    
    // Cursors Style
    .cursor {
        position: fixed;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 2px solid $white;
        background-color: rgb(0, 0, 0);
        z-index: 999;
        pointer-events: none;
        transition: opacity 0.2s;
        opacity: 1;

        &._hide {
            opacity: 0;
        } 

        &._hide-with-preloader {
            opacity: 0;
            transition: .2s;
        }
    }

    .cursor-mini {
        position: fixed;
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        pointer-events: none;
        background-color: $white;
        z-index: 999;
        transition: opacity 0.2s;
        opacity: 1;
        mix-blend-mode: difference;

        &._hide {
            opacity: 0;
        }

        &._hide-with-preloader {
            opacity: 0;
            transition: .2s;
        }
    }


    .header__menu-overlay {
        display: none;
    }

    &__header--phantom {
        padding-top: 25px;
        height: 46px;
    }

    &__header {
        position: absolute;
        right: 0;
        left: 0;
        padding: 25px $main-padding;
        z-index: 11;
        transition: .5s;

        &._header-show {
            position: fixed;
            top: 0px;
            padding: 25px $main-padding;
            // backdrop-filter: blur(5px);
            transition: .5s;
        }

        &._header-hide {
            position: fixed;
            top: -90px;
            transition: .5s;

            .header__wrapper {
                .header__nav {
                    .header__list {
                        .header__dropdown {
                            &:hover {
                                .header__dropdown-content__overlay {
                                    pointer-events: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .header__logo {
            opacity: 1;
            transition: .4s;
            cursor: pointer;

            &:hover {
                opacity: 0.6;
                transition: .4s;
            }
        }

        .header__wrapper {
            width: 100%;
            @include display-center(space-between, center);

            .header__menu {
                display: none;
            }

            .header__nav {
                .header__list {
                    @include display-center(center, center);
                    column-gap: 30px;

                    .header__item {
                        position: relative;
                        @include display-center(center, center);
                        column-gap: 10px;
                        @include font($white, 16px, 600, normal, 0);
                        cursor: pointer;
                        transition: .4s;

                        &:hover {
                            transition: .4s;
                            color: #a7a7a7; 

                            .header__dropdown-arrow path {
                                fill: #a7a7a7;
                            }
                        }
                    }

                    .header__dropdown {
                        position: relative;
                    
                        &-arrow {
                            transform: translateY(2px) rotate(0deg);
                            transition: transform 0.3s, color 0.4s;
                        }
                    
                        &:hover {
                            .header__dropdown-arrow {
                                transition: transform 0.3s, color 0.4s;
                                transform: translateY(2px) rotate(-180deg);
                            }
                    
                            .header__dropdown-content__overlay {
                                z-index: 10;
                                transition: .5s;
                                // pointer-events: none;
                                pointer-events: auto;
                    
                                .header__dropdown-content {
                                    display: flex;
                                    opacity: 0; 
                                    transform: translateY(-20px); 
                                    transition: opacity 0.4s, transform 0.4s; 
                                    animation: showDropdown 0.4s forwards;
                                }
                            }
                        }


                        &-content__overlay {
                            position: absolute;
                            top: 10px;
                            padding-top: 30px;
                            transition: .5s;
                            z-index: -1;
                            pointer-events: none;
                    
                            .header__dropdown-content {
                                padding: 30px;
                                width: 660px;
                                height: 220px;
                                background: $ligth-dark;
                                display: flex; /* Change from display: none */
                                column-gap: 80px;
                                overflow: hidden;
                                transition: .4s;
                                animation: hideDropdown 0.4s forwards;
                    
                                &::before {
                                    content: "";
                                    position: absolute;
                                    left: -80px;
                                    bottom: -80px;
                                    width: 250px;
                                    height: 250px;
                                    background: $main;
                                    border-radius: 50%;
                                    z-index: 1;
                                    filter: blur(180px);
                                }
                    
                                .header__dropdown--left, .header__dropdown--right {
                                    display: flex;
                                    flex-direction: column;
                                    row-gap: 15px;
                                    z-index: 2;
                    
                                    .header__dropdown-item {
                                        @include display-center(none, center);
                                        column-gap: 15px;
                                        color: $white;
                                        transition: .4s;


                                        &:hover {
                                            color: #a7a7a7; 
                                            transition: .4s;
                                        }
                    
                                        .icon-box {
                                            position: relative;
                    
                                            &::before {
                                                content: "";
                                                position: absolute;
                                                width: 50px;
                                                height: 50px;
                                                background: $main;
                                                border-radius: 50%;
                                                filter: blur(80px);
                                                z-index: -1;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                    @keyframes showDropdown {
                        to {
                            transform: translateY(0px);
                            opacity: 1;
                            z-index: 10;
                        }
                    }
                    
                    @keyframes hideDropdown {
                        from {
                            transform: translateY(0px);
                            opacity: 1;
                            z-index: 10;
                        }
                        to {
                            transform: translateY(-20px);
                            opacity: 0;
                            z-index: -1;
                        }
                    }
                    
                }
            }

            .header__menu-wrapper {
                display: none;
            }


            .header__btn {
                position: relative;
                width: 180px;
                height: 52px;

                background-color: transparent;
                @include font($white, 16px, 700, normal, 0);

                border: 1px solid transparent;
                border-image: $main;
                border-image-slice: 1;
                transition: .3s;
                overflow: hidden;


                & span {
                    transform: translate(-50%, -50%);
                    z-index: 2;

                    background: $main;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }


    &__intro {
        z-index: 1;
        .intro__title {
            padding: 0 $main-padding;
            margin-bottom: 30px;
            @include font($white, 3.5vw, 700, normal, 0); // 64px

            & strong {
                background: $main;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .intro__slider {
            margin-left: $main-padding;

            display: flex;
            column-gap: 20px;

            .intro__card {
                padding: 20px;
                width: 400px;
                height: 380px;
                background: rgba(161, 161, 161, 0.20);
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
                backdrop-filter: blur(25px);
                cursor: grab;


                &-header {
                    margin-bottom: 20px;
                    @include display-center(space-between, center);

                    .intro__card-title {
                        @include font($white, 20px, 600, normal, 0);
                    }

                    .intro__card-price {
                        @include font($white, 16px, 400, normal, 0);
                    }
                }


                &-img {
                    margin-bottom: 20px;
                    width: 100%;
                    height: 224px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;

                    &--1 {
                        background-image: url(../img/website-webdesign.webp);
                    }
                    &--2 {
                        background-image: url(../img/webdesign.webp);
                    }
                    &--3 {
                        background-image: url(../img/poster.webp);
                    }
                    &--4 {
                        background-image: url(../img/logo.webp);
                    }
                    &--5 {
                        background-image: url(../img/business-cards.webp);
                    }
                    &--6 {
                        background-image: url(../img/leafleats.webp);
                    }
                    &--7 {
                        background-image: url(../img/billboard.webp);
                    }
                }
            }
        }
    }


    &__footer {
        padding: 0 $main-padding;
        margin-bottom: 20px;
        @include display-center(space-between, center);
        z-index: 1;
    }
}



// Flying element animation 
@keyframes flyingAnimation-1 {
    0%, 100% { transform: translate(-50%, -60%) }
    25% { transform: translate(-60%, -60%) }
    50% { transform: translate(-50%, -70%) }
    75% { transform: translate(-40%, -60%) }
}

@keyframes flyingAnimation-2 {
    0%, 100% { transform: translate(-50%, -50%) }
    25% { transform: translate(-60%, -50%) }
    50% { transform: translate(-50%, -60%) }
    75% { transform: translate(-40%, -50%) }
}

@keyframes flyingAnimation-3 {
    0%, 100% { transform: translate(50%, -60%) }
    25% { transform: translate(60%, -60%) }
    50% { transform: translate(50%, -70%) }
    75% { transform: translate(40%, -60%) }
}



@keyframes showElement {
    0% { opacity: 0; }
    30% { position: fixed; }
    100% { opacity: 1; position: fixed; }
}

@keyframes hideElement {
    0% { opacity: 1; }
    100% { opacity: 0; }
}



@media screen and (max-width: 1200px) {
    $main-padding: 100px;

    .home {
        &._menu-open {
            .header__menu-overlay {
                animation: burgerOverlayAnimation 1s .8s forwards;
                display: block;
                position: fixed;
                width: 100vw;
                height: 100vh;
                background-color: rgb(0, 0, 0);
                z-index: 11;
                opacity: 1;

                @keyframes burgerOverlayAnimation {
                    0% { top: -100vh; }
                    100% { top: 0px; }
                }
            }

            .home__interactive-element {
                z-index: 12;
                opacity: 0;
                animation: hideElement 2s forwards, showElement 1s 2s forwards;
                transition: z-index .2s ease-in-out 1.2s;
            }

            .home__header {
                z-index: 12;

                .header__wrapper {
                    display: flex;
                    align-items: center;
                    z-index: 100;

                    .header__logo {
                        z-index: 12;
                    }

                    .header__menu-wrapper {
                        padding: 0 $main-padding;
                        margin: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        width: 100vw;
                        height: 100vh;
                        position: fixed;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 12;
                        animation: showElement 2s 1s forwards;


                        .header__menu-row {
                            position: fixed;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            display: flex;

                            .header__menu-nav {
                                .header__menu-list {
                                    display: flex;
                                    flex-direction: column;
                                    row-gap: 20px;

                                    .header__menu-item {
                                        display: flex;
                                        align-items: center;
                                        transition: .3s;
                                        user-select: none;
                                        

                                        &:hover {
                                            transform: translateX(-20px);
                                            transition: .3s;

                                            .header__menu-item__rhombus {
                                                transform: rotate(-45deg) scale(1);
                                                transition: .3s;
                                            }

                                            p {
                                                &::before {
                                                    left: -90px;
                                                    width: 94.3px;   
                                                    transition: .3s;
                                                }
                                            }
                                        }

                                        &__order {
                                            width: 17px;
                                            @include font($white, 12px, 500, normal, 0);
                                            margin-right: 5px;
                                        }

                                        &__rhombus {
                                            margin-right: 90px;
                                            width: 6px;
                                            height: 6px;
                                            background-color: $white;
                                            transform: rotate(-45deg) scale(0);
                                            transition: .3s;
                                        }

                                        p {
                                            position: relative;
                                            cursor: pointer;
                                            @include font($white, 24px, 600, normal, 0);

                                            &::before {
                                                content: "";
                                                position: absolute;
                                                left: 0px;
                                                width: 0px;   
                                                min-height: 2px;
                                                top: 50%;
                                                transform: translateY(-50%);
                                                background-color: $white;
                                                transition: .3s;
                                            }
                                        }
                                    }
                                }
                            }
                        }


                        .home__footer {
                            padding: 0;
                        }
                    }
                }

                .header__menu {
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    z-index: 12;

                    .menu__text {
                        transition: .3s;
                    }
                }
            }
        }

        &._menu-close {
            .header__menu-overlay {
                position: fixed;
                animation: burgerHideOverlayAnimation 1.5s forwards;
                opacity: 1;
                z-index: 12;
                @keyframes burgerHideOverlayAnimation {
                    0% { top: 0; };
                    100% { top: -100vh; };
                }
            }

            // .home__interactive-element {
            //     z-index: 0;
            //     opacity: 0;
            //     animation:  showElement .3s .3s forwards, hideElement .5s forwards;
            //     transition: z-index .2s ease-in-out .8s;
            // }

            .home__header {
                .header__wrapper {
                    .header__menu-wrapper {
                        animation: hideElement .5s 1s forwards;
                    }
                }
            }
        }


        .header__menu-overlay {
            top: -100vh;
            display: block;
            position: fixed;
            width: 100vw;
            height: 100vh;
            background-color: rgb(0, 0, 0);
            opacity: 0;
            z-index: -1;

            &._quickly-close-overlay {
                display: none;
            }
        }

        .home__header--phantom {
            height: 65px;
        }


        &__header {
            z-index: 12;
            padding: 0 $main-padding;

            &._header-show {
                padding: 25px $main-padding;
            }

            .header__wrapper {
                .header__logo {
                    z-index: 12;
                    & svg { width: 160px; }
                }

                .header__nav, .header__btn {
                    display: none;
                }

                .header__menu-wrapper {
                    opacity: 0;
                    transition: .5s;

                    .header__menu-header--phantom {
                        height: 65px;
                    }


                    .header__menu-row {
                        // width: 100%;
                        display: none;
                        align-items: center;
                        justify-content: start;
                        column-gap: 10%;
                    }
                }



                .header__menu {
                    display: flex;
                }
            }
        }

        &__intro {
            .intro__title {
                padding: 0 $main-padding;
                margin-bottom: 30px;
            }

            .intro__slider {
                margin-left: $main-padding;
            }
        }

        &__footer {
            padding: 0 $main-padding;
        }
    }
} 


@media screen and (max-width: 1000px) {
    $main-padding: 80px;

    .home {
        &._menu-open {
            .home__header {
                padding: 0 $main-padding;

                &._header-show {
                    padding: 25px $main-padding;
                }


                .header__wrapper {
                    .header__menu-wrapper {
                        padding: 0 $main-padding;

                        .header__menu-row {
                            .header__menu-img {
                                width: 52%;
                            } 

                           .header__menu-nav {
                                .header__menu-list {
                                    .header__menu-item {
                                        &:hover {
                                            p {
                                                &::before {
                                                    left: -80px;
                                                    width: 84.3px;   
                                                }
                                            }
                                        }

                                        &__rhombus {
                                            margin-right: 80px;
                                        }

                                        p {
                                            &::before {
                                                min-height: 1px;
                                            }
                                        }
                                    }
                                }
                           }
                        }
                    }
                }


            }
        }


        &__interactive-element {
            &--2 svg{
                width: 350px;
            }
    
            &--3 svg{
                width: 325px;
            }
        }


        &__header {
            padding: 0px $main-padding;

            &._header-show {
                padding: 25px $main-padding;
            }
        }

        &__intro {
            .intro__title {
                padding: 0 $main-padding;
                font-size: 5vw;
                text-align: center;
            }

            .intro__slider {
                margin-left: $main-padding;
            }
        }

        &__footer {
            padding: 0 $main-padding;
        }
    }
}


@media screen and (max-width: 800px) {
    $main-padding: 30px;

    .home {
        &._menu-open {
            .home__header {
                padding: 0 $main-padding;

                &._header-show {
                    padding: 25px $main-padding;
                }

                .header__wrapper {
                    .header__menu-wrapper {
                        padding: 0 $main-padding;

                        .header__menu-row {
                            column-gap: 8%;

                            .header__menu-img {
                                width: 50%;
                            } 

                           .header__menu-nav {
                                .header__menu-list {
                                    .header__menu-item {
                                        &:hover {
                                            transform: translateX(-15px);

                                            p {
                                                &::before {
                                                    left: -80px;
                                                    width: 84.3px;   
                                                }
                                            }
                                        }

                                        &__rhombus {
                                            margin-right: 80px;
                                        }

                                        p {
                                            font-size: 20px;
                                            &::before {
                                                min-height: 1px;
                                            }
                                        }
                                    }
                                }
                           }
                        }
                    }
                }


            }
        }

        &__interactive-element {
            &--2 svg{
                width: 200px;
                filter: blur(10px);
            }
    
            &--3 svg{
                width: 200px;
                filter: blur(10px);
            }
        }

        &__header {
            padding: 0 $main-padding;
            padding-top: 25px;

            &._header-show {
                padding: 25px $main-padding;
            }

            .header__wrapper {
                .header__nav {
                    .header__list {
                        .header__dropdown {
                            &-content__overlay {
                                overflow: auto;
                                height: 220px;
                                padding-left: 5px;
                                ::-webkit-scrollbar {
                                    width: 5px;
                                    border-radius: 5px;
                                }


                                .header__dropdown-content {
                                    overflow: auto;
                                    padding: 15px;
                                    height: 100%;
                                    width: 260px;
                                    flex-direction: column;
                                    row-gap: 15px;


                                    .icon-box {
                                        min-width: 30px;
                                        min-height: 30px;
                                        width: 30px;
                                        height: 30px;
                                    }
                                }
                            }
                        }
                    }
                }

                .header__menu {
                    .rolling__block {
                        display: none;
                    }
                }
            }
        }

        &__intro {
            .intro__title {
                padding: 0 $main-padding;
                margin-bottom: 30px;
                font-size: 6vw;
                text-align: center;
            }

            .intro__slider {
                margin-left: $main-padding;
            }
        }

        &__footer {
            padding: 0 $main-padding;
        }
    }
}


@media screen and (max-width: 600px) {
    $main-padding: 30px;

    .home {
        &._menu-open {
            .home__header {
                padding: 0 $main-padding;

                .header__wrapper {
                    .header__menu-wrapper {
                        justify-content: center;
                        align-items: center;

                        padding: 0 $main-padding;

                        .header__menu-row {
                            flex-direction: column;
                            // justify-content: center;
                            column-gap: 0;

                            .header__menu-img {
                                display: none
                            } 

                           .header__menu-nav {
                                .header__menu-list {
                                    .header__menu-item {
                                        &:hover {
                                            transform: translateX(-15px);

                                            p {
                                                &::before {
                                                    left: -60px;
                                                    width: 64.3px;   
                                                }
                                            }
                                        }

                                        &__rhombus {
                                            margin-right: 60px;
                                        }

                                        p {
                                            font-size: 24px;
                                            &::before {
                                                min-height: 1px;
                                            }
                                        }
                                    }
                                }
                           }
                        }
                    }
                }
            }
        }
        
        &__header {
            &._header-show {
                padding: 25px $main-padding;
            }
        }

        &__interactive-element {
            &--1 {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &--2, &--3 {
                display: none;
            }

        }

        &__intro {
            .intro__title {
                margin-bottom: 20px;
                font-size: 6.4vw;
            }
        }
    }
}

@media screen and (max-width: 330px) {
    .home {
        &__intro {
            .intro__slider {
                margin-left: 10px;
            }
        }
    }
}


@media screen and (max-height: 900px) {
    .home {
        &__header  {
            .header__wrapper {
                .header__logo svg{
                    height: 36px;
                    width: 150px;
                }


                .header__btn {
                    height: 46px;
                }
            }
        }

        &__intro {
            .intro__slider {
                .intro__card {
                    padding: 15px;
                    width: 350px;
                    height: 340px;
    
    
                    &-header {
                        margin-bottom: 15px;
    
                        .intro__card-title {
                           font-size: 18px;
                        }
                    }
    
    
                    &-img {
                        margin-bottom: 20px;
                        height: 200px;
                    }
                }
            }
        }
    }
}


@media screen and (max-height: 800px) {
    .home {
        &__intro {
            .intro__slider {
                .intro__card {
                    padding: 15px;
                    width: 300px;
                    height: 270px;
    
    
                    &-header {
                        margin-bottom: 10px;
    
                        .intro__card-title {
                           font-size: 18px;
                        }
                    }
    
                    &-img {
                        margin-bottom: 10px;
                        height: 150px;
                    }
                }
            }
        }
    }
}


@media screen and (max-height: 700px) {
    .home {
        min-height: calc(100vh + 80px);
        row-gap: 60px;
    }
}



@media screen and (max-height: 600px) {
    .home {
        height: auto;
        min-height: auto;
        row-gap: 50px;

        &._menu-open {
            .home__header {
                .header__wrapper {
                    .header__nav {
                        .header__list {
                            row-gap: 15px;  
                        }
                    }

                    .header__nav-box {
                        .header__btn-menu {
                            margin-top: 30px;
                        }
                    }
                }
            }
        }
    }
}