@import "./../../main/style.scss";

body._web-development { &::-webkit-scrollbar-thumb {background: $main !important;} }
body._design { &::-webkit-scrollbar-thumb {background: $design-page !important;} }
body._poster-billboards { &::-webkit-scrollbar-thumb {background: $poster-page !important;} }
body._mobile-design { &::-webkit-scrollbar-thumb {background: $mobile-page !important;} }
body._business-card-leaflets { &::-webkit-scrollbar-thumb {background: $card-page !important;} }


.burger__menu {
    width: 30px;
    height: 30px;
    background: #c33636;
}

.services-page {
    display: flex;

    .header__menu-wrapper {
        display: none;
    }
    
    &__menu {
        position: fixed;
        @include display-center(space-between, start);
        flex-direction: column;

        padding: 40px;
        height: 100vh;
        width: 22%;
        background-color: $secondary-dark;

        &-phantom {
            width: 22%;
        }

        &-logo svg {
            cursor: pointer;
            width: 160px;
            height: 34px;
            transition: .3s;

            &:hover {
                transition: .3s;
                opacity: 0.6;
            }
        }

        .header__wrapper {
            display: none;
        }

        &-nav {
            .services-page__menu-list {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                .services-page__menu-item {
                    @include font($white, 18px, 600, normal, 0);
                    cursor: pointer;
                }
            }
        }

        .header__menu {
            display: none;
        }
    }

    &__main {
        padding: 30px 50px 50px 50px;
        width: 78%;
        background-position: top;

        .services-page__user-location {
            &, & a {
                display: flex;
                align-items: center;
                column-gap: 5px;
                
                @include font($white, 16px, 500, normal, 0);
                cursor: pointer;
                transition: .4s;
            }

            &:hover {
                opacity: 0.8;
                transition: .4s;
            }
        }


        .services-page__title {
            position: relative;
            margin-top: 90px;
            margin-bottom: 25px;
            @include font($white, 48px, 700, normal, 0);
            z-index: 1;
            white-space: pre-line;

            &::before {
                position: absolute;
                left: 0;
                top: -45px;
                content: "";
                width: 200px;
                height: 80px;
                z-index: -1;
            }

            &--web-development { &::before { background: $main; } }
            &--design { &::before { background: $design-page; } }
            &--poster-billboards { &::before { background: $poster-page; } }
            &--mobile-design { &::before { background: $mobile-page; } }
            &--business-card-leaflets { &::before { background: $card-page; } }
        }

        .services-page__subtitle {
            margin-bottom: 50px;
            @include font($white, 20px, 400, normal, 0);
        }

        .services-page__services-container {
            margin-bottom: 140px;
            display: flex;
            flex-wrap: wrap;
            gap: 50px 6%;

            .services-page__service {
                cursor: pointer;

                &-img {
                    margin-bottom: 15px;
                    width: 300px;
                    height: 180px;

                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }

                &-title {
                    @include font($white, 20px, 400, normal, 0);
                }
            }
        }

        .services-page__description-box {
            margin-left: 70px;
            padding-bottom: 140px;
            .services-page__description-title {
                margin-left: -70px;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                column-gap: 30px;

                span {
                    display: block;
                    width: 40px;
                    min-height: 2px;
                    background: $main;

                    &:nth-child(3) {
                        display: none;
                    }
                }

                p {
                    @include font($white, 20px, 500, normal, 0);
                    text-transform: uppercase;
                }
            }

            .services-page__description-tags__container {
                margin-bottom: 35px;
                display: flex;
                flex-wrap: wrap;
                gap: 15px 30px;

                .services-page__description-tag {
                    padding: 8px 40px;
                    @include font($white, 15px, 400, normal, 0);
                    background: rgba(161, 161, 161, 0.20);
                }
            }

            .services-page__description {
                margin-bottom: 35px;
                @include font($white, 16px, 400, normal, 0);
            }
        }
    }
}


@media screen and (max-width: 1200px) {
    .services-page {
        &__menu {
            padding: 30px;
            width: 25%;

            &-phantom {
                width: 25%;
            }
        }

        &__main {
            padding: 40px;
            width: 75%;

            .services-page__subtitle {
                font-size: 18px;
            }

            .services-page__services-container {
                .services-page__service {
                    &-title {
                        font-size: 18px;
                    }
                }
            }

            .services-page__description-box {
                margin-left: 0px;
                
                .services-page__description-title {
                    margin-left: 0px;
                    margin-bottom: 15px;
                    flex-direction: row-reverse;
                    justify-content: start;
    
                    p {
                        font-size: 18px;
                    }
                }
    
                .services-page__description-tags__container {
                    margin-bottom: 30px;
                }
    
                .services-page__description {
                    margin-bottom: 20px;
                }
            }
        }
    }
}


@media screen and (max-width: 1000px) {
    .services-page {
        &__menu {
            padding: 30px;
            width: 25%;

            &-logo svg {
                width: 150px;
                height: 31px;
            }

            &-phantom {
                width: 25%;
            }

            &-nav {
                .services-page__menu-list {
                    row-gap: 15px;
                    .services-page__menu-item {
                        font-size: 15px;
                    }
                }
            }
        }

        &__main {
            .services-page__services-container {
                justify-content: space-between;
                gap: 50px 30px;

                .services-page__service {
                    &-img {
                        width: 240px;
                        height: 144px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 800px) {
    $main-padding: 30px;

    .services-page {
        display: block;

        &._menu-open {
            .header__menu-overlay {
                display: block;
                position: fixed;
                width: 100vw;
                height: 100vh;
                background-color: rgb(0, 0, 0);
                z-index: 11;
                opacity: 1;
                animation: burgerOverlayAnimation 1s .8s forwards;
                @keyframes burgerOverlayAnimation {
                    0% { top: -100vh; }
                    100% { top: 0px; }
                }
            }


            .header__menu-wrapper {
                padding: 0 $main-padding;
                margin: 0;
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                width: 100vw;
                height: 100vb;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -35px);
                z-index: 12;
                animation: showElement 2s 1s forwards;


                .header__menu-header--phantom {
                    height: 36px;
                    margin-top: 25px;
                }

                .header__menu-row {
                    @include display-center(center, center);

                    .header__menu-nav {
                        .header__menu-list {
                            display: flex;
                            flex-direction: column;
                            row-gap: 20px;

                            .header__menu-item {
                                display: flex;
                                align-items: center;
                                transition: .3s;
                                user-select: none;
                                

                                &:hover {
                                    transform: translateX(-20px);
                                    transition: .3s;

                                    .header__menu-item__rhombus {
                                        transform: rotate(-45deg) scale(1);
                                        transition: .3s;
                                    }

                                    p {
                                        &::before {
                                            left: -90px;
                                            width: 94.3px;   
                                            transition: .3s;
                                        }
                                    }
                                }

                                &__order {
                                    width: 17px;
                                    @include font($white, 12px, 500, normal, 0);
                                    margin-right: 5px;
                                }

                                &__rhombus {
                                    margin-right: 90px;
                                    width: 6px;
                                    height: 6px;
                                    background-color: $white;
                                    transform: rotate(-45deg) scale(0);
                                    transition: .3s;
                                }

                                p {
                                    max-width: 200px;
                                    position: relative;
                                    cursor: pointer;
                                    @include font($white, 20px, 600, normal, 0);

                                    &::before {
                                        content: "";
                                        position: absolute;
                                        left: 0px;
                                        width: 0px;   
                                        min-height: 2px;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        background-color: $white;
                                        transition: .3s;
                                    }
                                }
                            }
                        }
                    }
                }


                .home__footer {
                    padding: 0;
                }
            }

            .services-page {
                position: relative;
            }

            .home__footer {
                .localisation-field {
                    display: flex;
                }
            }
        }

        &._menu-close {
            .header__menu-overlay {
                animation: burgerHideOverlayAnimation 1.5s forwards;
                opacity: 1;
                z-index: 12;
                @keyframes burgerHideOverlayAnimation {
                    0% { top: 0; };
                    100% { top: -100vh; };
                }
            }
        }


        .header__menu-overlay {
            top: -100vb;
            display: block;
            position: fixed;
            width: 100vw;
            height: 100vb;
            background-color: rgb(0, 0, 0);
            opacity: 0;
            z-index: -1;

            &._quickly-close-overlay {
                display: none;
            }
        }

        .header__menu-wrapper {
            opacity: 0;
            transition: .5s;
        }


        &__menu {
            padding: 25px 30px 0 30px;
            position: relative;
            width: 100%;
            height: auto;
            background-color: transparent;
            @include display-center(space-between, center);
            flex-direction: row;


            .services-page__menu-nav {
                display: none;
            }
            
            &-logo--link {
                z-index: 12;
            }

            &-phantom {
                display: none;
            }

            .localisation-field {
                display: none;
            }

            .header__menu {
                display: flex;
            }
        }

        &__main {
            padding: 30px;
            width: 100%;
            height: auto;

            .services-page__user-location {
                margin-top: 60px;
            }

            .services-page__title {
                margin-top: 50px;
                margin-bottom: 25px;
                font-size: 40px;

                &::before {
                    top: -30px;
                    height: 60px;
                }
            }


            .services-page__description-box {
                .services-page__description-tags__container {
                    gap: 15px 20px;
                    .services-page__description-tag {
                        font-size: 14px;
                        padding: 8px 30px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 600px) {
    $main-padding: 30px;


    .services-page {
        &._menu-open {
            .header__menu-wrapper {
                padding: 0 $main-padding;

                .header__menu-row {
                    flex-direction: column;
                    justify-content: center;
                    column-gap: 0;

                    .header__menu-img {
                        display: none
                    } 

                    .header__menu-nav {
                        .header__menu-list {
                            .header__menu-item {
                                &:hover {
                                    transform: translateX(-15px);

                                    p {
                                        &::before {
                                            left: -70px;
                                            width: 74.3px;   
                                        }
                                    }
                                }

                                &__rhombus {
                                    margin-right: 70px;
                                }

                                p {
                                    &::before {
                                        min-height: 1px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .header__menu {
            .rolling__block {
                display: none;
            } 
        }

        &__main {
            .services-page__user-location {
                &, & a {
                    font-size: 14px;

                    svg {
                        width: 18px;
                        height: 18px;
                    }
                }

                & a {
                    white-space: nowrap;
                }
            }

            .services-page__services-container {
                .services-page__service {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    &-img {
                        width: 260px;
                        height: 156px;
                    }
                }
            }

            .services-page__description-box {
                display: flex;
                flex-direction: column;
                align-items: center;

                .services-page__description-title {
                    justify-content: center;
                    column-gap: 10px;

                    span {
                        width: 30px;

                        &:nth-child(3) {
                            display: block;
                        }
                    }

                    p { text-align: center; }
                }

                .services-page__description-tags__container {
                    justify-content: center;
                }
    
                .services-page__description {
                    text-align: center;
                }
            }
        }
    }
}