@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

input, button, textarea {
  font-family: inherit; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

body {
  background-color: #000;
  overflow-x: hidden; }
  body._body-hidden {
    overflow: hidden; }

::selection {
  background: rgba(255, 255, 255, 0.2); }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #000; }

::-webkit-scrollbar-thumb {
  background: linear-gradient(99deg, #2BBFFE 5.86%, #8629FD 54.99%, #FC4AF5 100%); }

.App {
  overflow-x: hidden; }

.rolling__block {
  position: relative;
  height: 23px;
  overflow: hidden;
  transition: .5s; }
  .rolling__block:hover {
    transition: .5s; }
    .rolling__block:hover .rolling__block--before {
      transform: translateY(-23px); }
    .rolling__block:hover .rolling__block--after {
      transform: translateY(-23px); }
  .rolling__block .rolling__block--before, .rolling__block .rolling__block--after {
    transition: .5s; }
  .rolling__block .rolling__block--after {
    position: absolute; }

.social__media-wrapper {
  display: flex;
  column-gap: 20px; }

@media screen and (max-width: 600px) {
  .social__media-wrapper {
    column-gap: 15px; } }
.App {
  overflow-x: hidden; }

body._web-development::-webkit-scrollbar-thumb {
  background: linear-gradient(99deg, #2BBFFE 5.86%, #8629FD 54.99%, #FC4AF5 100%) !important; }
body._web-development .services-page .gradient-btn {
  background: linear-gradient(99deg, #2BBFFE 5.86%, #8629FD 54.99%, #FC4AF5 100%); }
body._web-development .services-page__popup-overlay::-webkit-scrollbar-thumb {
  background: linear-gradient(99deg, #2BBFFE 5.86%, #8629FD 54.99%, #FC4AF5 100%) !important; }
body._web-development .services-page__popup-overlay .services-page__popup::before {
  background: linear-gradient(99deg, #2BBFFE 5.86%, #8629FD 54.99%, #FC4AF5 100%); }
body._web-development .services-page__main .services-page__title::before {
  background: linear-gradient(99deg, #2BBFFE 5.86%, #8629FD 54.99%, #FC4AF5 100%); }

body._design::-webkit-scrollbar-thumb {
  background: linear-gradient(99deg, #FE842B 5.86%, #FD2929 51.61%, #FF006B 100%) !important; }
body._design .services-page .gradient-btn {
  background: linear-gradient(99deg, #FE842B 5.86%, #FD2929 51.61%, #FF006B 100%); }
body._design .services-page__popup-overlay::-webkit-scrollbar-thumb {
  background: linear-gradient(99deg, #FE842B 5.86%, #FD2929 51.61%, #FF006B 100%) !important; }
body._design .services-page__popup-overlay .services-page__popup::before {
  background: linear-gradient(99deg, #FE842B 5.86%, #FD2929 51.61%, #FF006B 100%); }
body._design .services-page__main .services-page__title::before {
  background: linear-gradient(99deg, #FE842B 5.86%, #FD2929 51.61%, #FF006B 100%); }

body._poster-billboards::-webkit-scrollbar-thumb {
  background: linear-gradient(285deg, #68E0CF 0%, #3DCDFF 53.88%, #209CFF 104.43%) !important; }
body._poster-billboards .services-page .gradient-btn {
  background: linear-gradient(285deg, #68E0CF 0%, #3DCDFF 53.88%, #209CFF 104.43%); }
body._poster-billboards .services-page__popup-overlay::-webkit-scrollbar-thumb {
  background: linear-gradient(285deg, #68E0CF 0%, #3DCDFF 53.88%, #209CFF 104.43%) !important; }
body._poster-billboards .services-page__popup-overlay .services-page__popup::before {
  background: linear-gradient(285deg, #68E0CF 0%, #3DCDFF 53.88%, #209CFF 104.43%); }
body._poster-billboards .services-page__main .services-page__title::before {
  background: linear-gradient(285deg, #68E0CF 0%, #3DCDFF 53.88%, #209CFF 104.43%); }

body._mobile-design::-webkit-scrollbar-thumb {
  background: linear-gradient(99deg, #84FAB0 5.86%, #8FD3F4 100%) !important; }
body._mobile-design .services-page .gradient-btn {
  background: linear-gradient(99deg, #84FAB0 5.86%, #8FD3F4 100%); }
body._mobile-design .services-page__popup-overlay::-webkit-scrollbar-thumb {
  background: linear-gradient(99deg, #84FAB0 5.86%, #8FD3F4 100%) !important; }
body._mobile-design .services-page__popup-overlay .services-page__popup::before {
  background: linear-gradient(99deg, #84FAB0 5.86%, #8FD3F4 100%); }
body._mobile-design .services-page__main .services-page__title::before {
  background: linear-gradient(99deg, #84FAB0 5.86%, #8FD3F4 100%); }

body._business-card-leaflets::-webkit-scrollbar-thumb {
  background: linear-gradient(281deg, #000428 -7.61%, #1A55AC 35%, #004E92 100%) !important; }
body._business-card-leaflets .services-page .gradient-btn {
  background: linear-gradient(281deg, #000428 -7.61%, #1A55AC 35%, #004E92 100%); }
body._business-card-leaflets .services-page__popup-overlay::-webkit-scrollbar-thumb {
  background: linear-gradient(281deg, #000428 -7.61%, #1A55AC 35%, #004E92 100%) !important; }
body._business-card-leaflets .services-page__popup-overlay .services-page__popup::before {
  background: linear-gradient(281deg, #000428 -7.61%, #1A55AC 35%, #004E92 100%); }
body._business-card-leaflets .services-page__main .services-page__title::before {
  background: linear-gradient(281deg, #000428 -7.61%, #1A55AC 35%, #004E92 100%); }

.services-page {
  display: flex; }
  .services-page__popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: -1;
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: .4s; }
    .services-page__popup-overlay::-webkit-scrollbar {
      width: 5px; }
    .services-page__popup-overlay._active {
      z-index: 10;
      opacity: 1;
      transition: 1s; }
      .services-page__popup-overlay._active .services-page__popup {
        transform: translateY(0px);
        transition: .4s; }
    .services-page__popup-overlay .services-page__popup {
      min-width: 700px;
      padding: 45px 50px;
      background-color: #000;
      box-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
      overflow-y: auto;
      overflow-x: hidden;
      transform: translateY(-150px);
      transition: .4s; }
      .services-page__popup-overlay .services-page__popup::before {
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 270px;
        height: 270px;
        border-radius: 100%;
        filter: blur(250px);
        z-index: -1; }
      .services-page__popup-overlay .services-page__popup-header {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: normal;
        letter-spacing: 0;
        color: #fff; }
        .services-page__popup-overlay .services-page__popup-header svg {
          cursor: pointer; }
      .services-page__popup-overlay .services-page__popup-form {
        display: flex;
        flex-direction: column;
        row-gap: 30px; }
        .services-page__popup-overlay .services-page__popup-form .services-page__popup__input-box {
          width: 100%;
          display: flex;
          flex-direction: column; }
          .services-page__popup-overlay .services-page__popup-form .services-page__popup__input-box ::-webkit-scrollbar {
            width: 5px;
            border-radius: 5px; }
          .services-page__popup-overlay .services-page__popup-form .services-page__popup__input-box ::-webkit-scrollbar-track {
            background: transparent; }
          .services-page__popup-overlay .services-page__popup-form .services-page__popup__input-box ::-webkit-scrollbar-thumb {
            border-radius: 5px; }
          .services-page__popup-overlay .services-page__popup-form .services-page__popup__input-box span {
            margin-bottom: 5px;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: normal;
            letter-spacing: 0;
            color: #fff; }
            .services-page__popup-overlay .services-page__popup-form .services-page__popup__input-box span .error {
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: normal;
              letter-spacing: 0;
              color: #FF006B; }
          .services-page__popup-overlay .services-page__popup-form .services-page__popup__input-box .services-page__popup-input {
            padding: 0 10px;
            width: 100%;
            height: 50px;
            outline: none;
            border: none;
            background-color: #121212;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: normal;
            letter-spacing: 0;
            color: #fff;
            border: 1px solid rgba(255, 255, 255, 0.1);
            -webkit-box-shadow: inset 0 0 0 50px #121212;
            -webkit-text-fill-color: #fff; }
          .services-page__popup-overlay .services-page__popup-form .services-page__popup__input-box .services-page__popup__textarea-wrapper {
            width: 100%;
            background-color: #121212;
            border: 1px solid rgba(255, 255, 255, 0.1); }
            .services-page__popup-overlay .services-page__popup-form .services-page__popup__input-box .services-page__popup__textarea-wrapper .services-page__popup-textarea {
              padding: 0px;
              padding-right: 5px;
              margin: 15px 10px;
              width: calc(100% - 20px);
              height: 100px;
              resize: none;
              outline: none;
              overflow-y: auto;
              border: none; }
        .services-page__popup-overlay .services-page__popup-form .gradient-btn {
          height: 50px;
          margin-top: 20px; }
  .services-page .popup-form {
    left: 50%;
    transform: translateX(-50%);
    z-index: 11; }
  .services-page .header__menu-wrapper {
    display: none; }
  .services-page__menu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px;
    height: 100vh;
    width: 22%;
    background-color: #0C0C0C; }
    .services-page__menu-logo {
      opacity: 1;
      transition: .4s;
      cursor: pointer; }
      .services-page__menu-logo:hover {
        opacity: 0.8;
        transition: .4s; }
    .services-page__menu .services-menu__wrapper {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column; }
    .services-page__menu-phantom {
      width: 22%; }
    .services-page__menu-logo svg {
      cursor: pointer;
      width: 160px;
      height: 34px;
      transition: .3s; }
      .services-page__menu-logo svg:hover {
        transition: .3s;
        opacity: 0.6; }
    .services-page__menu .header__wrapper {
      display: none; }
    .services-page__menu-nav .services-page__menu-list {
      display: flex;
      flex-direction: column;
      row-gap: 20px; }
      .services-page__menu-nav .services-page__menu-list .services-page__menu-item {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: normal;
        letter-spacing: 0;
        color: #fff;
        cursor: pointer;
        transition: .4s; }
        .services-page__menu-nav .services-page__menu-list .services-page__menu-item:hover {
          color: #a7a7a7;
          transition: .4s; }
    .services-page__menu .header__menu {
      display: none; }
  .services-page__main {
    padding: 30px 50px 50px 50px;
    width: 78%;
    background-position: top; }
    .services-page__main .services-page__user-location, .services-page__main .services-page__user-location a {
      display: flex;
      align-items: center;
      column-gap: 5px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: normal;
      letter-spacing: 0;
      color: #fff;
      cursor: pointer;
      transition: .4s; }
    .services-page__main .services-page__user-location:hover {
      opacity: 0.8;
      transition: .4s; }
    .services-page__main .services-page__title {
      position: relative;
      margin-top: 90px;
      margin-bottom: 25px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: normal;
      letter-spacing: 0;
      color: #fff;
      z-index: 1;
      white-space: pre-line; }
      .services-page__main .services-page__title::before {
        position: absolute;
        left: 0;
        top: -45px;
        content: "";
        width: 200px;
        height: 80px;
        z-index: -1; }
    .services-page__main .services-page__subtitle {
      margin-bottom: 50px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: normal;
      letter-spacing: 0;
      color: #fff; }
    .services-page__main .services-page__services-container {
      margin-bottom: 140px;
      display: flex;
      flex-wrap: wrap;
      gap: 50px 6%; }
      .services-page__main .services-page__services-container .services-page__service {
        cursor: pointer;
        transition: .4s;
        transform: translateY(0px); }
        .services-page__main .services-page__services-container .services-page__service:hover {
          transition: .4s;
          transform: translateY(-10px); }
          .services-page__main .services-page__services-container .services-page__service:hover .services-page__service-title {
            color: #a7a7a7;
            transition: .4s; }
        .services-page__main .services-page__services-container .services-page__service-img {
          margin-bottom: 15px;
          width: 300px;
          height: 180px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center; }
        .services-page__main .services-page__services-container .services-page__service-title {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: normal;
          letter-spacing: 0;
          color: #fff;
          transition: .4s; }
    .services-page__main .services-page__description-box {
      margin-left: 70px;
      padding-bottom: 140px; }
      .services-page__main .services-page__description-box .services-page__description-title {
        margin-left: -70px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        column-gap: 30px; }
        .services-page__main .services-page__description-box .services-page__description-title span {
          display: block;
          width: 40px;
          min-height: 2px;
          background: linear-gradient(99deg, #2BBFFE 5.86%, #8629FD 54.99%, #FC4AF5 100%); }
          .services-page__main .services-page__description-box .services-page__description-title span:nth-child(3) {
            display: none; }
          .services-page__main .services-page__description-box .services-page__description-title span .error {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: normal;
            letter-spacing: 0;
            color: #FF006B; }
        .services-page__main .services-page__description-box .services-page__description-title p {
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: normal;
          letter-spacing: 0;
          color: #fff;
          text-transform: uppercase; }
      .services-page__main .services-page__description-box .services-page__description-tags__container {
        margin-bottom: 35px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px 30px; }
        .services-page__main .services-page__description-box .services-page__description-tags__container .services-page__description-tag {
          padding: 8px 40px;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: normal;
          letter-spacing: 0;
          color: #fff;
          background: rgba(161, 161, 161, 0.2); }
      .services-page__main .services-page__description-box .services-page__description {
        margin-bottom: 35px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: normal;
        letter-spacing: 0;
        color: #fff; }

@media screen and (max-width: 1200px) {
  .services-page__menu {
    padding: 30px;
    width: 25%; }
    .services-page__menu-phantom {
      width: 25%; }
  .services-page__main {
    padding: 40px;
    width: 75%; }
    .services-page__main .services-page__subtitle {
      font-size: 18px; }
    .services-page__main .services-page__services-container .services-page__service-title {
      font-size: 18px; }
    .services-page__main .services-page__description-box {
      margin-left: 0px; }
      .services-page__main .services-page__description-box .services-page__description-title {
        margin-left: 0px;
        margin-bottom: 15px;
        flex-direction: row-reverse;
        justify-content: flex-start; }
        .services-page__main .services-page__description-box .services-page__description-title p {
          font-size: 18px; }
      .services-page__main .services-page__description-box .services-page__description-tags__container {
        margin-bottom: 30px; }
      .services-page__main .services-page__description-box .services-page__description {
        margin-bottom: 20px; } }
@media screen and (max-width: 1000px) {
  .services-page__menu {
    padding: 30px;
    width: 25%; }
    .services-page__menu-logo svg {
      width: 150px;
      height: 31px; }
    .services-page__menu-phantom {
      width: 25%; }
    .services-page__menu-nav .services-page__menu-list {
      row-gap: 15px; }
      .services-page__menu-nav .services-page__menu-list .services-page__menu-item {
        font-size: 15px; }
  .services-page__main .services-page__services-container {
    justify-content: space-between;
    gap: 50px 30px; }
    .services-page__main .services-page__services-container .services-page__service-img {
      width: 240px;
      height: 144px; } }
@media screen and (max-width: 800px) {
  .services-page {
    display: block; }
    .services-page._menu-open .header__menu-overlay {
      display: block;
      position: fixed;
      width: 100%;
      height: 100vh;
      z-index: 9;
      opacity: 1;
      animation: burgerOverlayAnimation 1s .8s forwards; }
  @keyframes burgerOverlayAnimation {
    0% {
      top: -100vh; }
    100% {
      top: 0px; } }
    .services-page._menu-open .header__menu-wrapper {
      padding: 0 30px;
      margin: 0;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 12;
      animation: showElement 2s 1s forwards; }
      .services-page._menu-open .header__menu-wrapper .header__menu-header--phantom {
        height: 35px;
        margin-top: 25px; }
      .services-page._menu-open .header__menu-wrapper .header__menu-row {
        display: flex;
        justify-content: center;
        align-items: center; }
        .services-page._menu-open .header__menu-wrapper .header__menu-row .header__menu-nav .header__menu-list {
          display: flex;
          flex-direction: column;
          row-gap: 20px; }
          .services-page._menu-open .header__menu-wrapper .header__menu-row .header__menu-nav .header__menu-list .header__menu-item {
            display: flex;
            align-items: center;
            transition: .3s;
            user-select: none; }
            .services-page._menu-open .header__menu-wrapper .header__menu-row .header__menu-nav .header__menu-list .header__menu-item:hover {
              transform: translateX(-20px);
              transition: .3s; }
              .services-page._menu-open .header__menu-wrapper .header__menu-row .header__menu-nav .header__menu-list .header__menu-item:hover .header__menu-item__rhombus {
                transform: rotate(-45deg) scale(1);
                transition: .3s; }
              .services-page._menu-open .header__menu-wrapper .header__menu-row .header__menu-nav .header__menu-list .header__menu-item:hover p::before {
                left: -90px;
                width: 94.3px;
                transition: .3s; }
            .services-page._menu-open .header__menu-wrapper .header__menu-row .header__menu-nav .header__menu-list .header__menu-item__order {
              width: 17px;
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: normal;
              letter-spacing: 0;
              color: #fff;
              margin-right: 5px; }
            .services-page._menu-open .header__menu-wrapper .header__menu-row .header__menu-nav .header__menu-list .header__menu-item__rhombus {
              margin-right: 90px;
              width: 6px;
              height: 6px;
              background-color: #fff;
              transform: rotate(-45deg) scale(0);
              transition: .3s; }
            .services-page._menu-open .header__menu-wrapper .header__menu-row .header__menu-nav .header__menu-list .header__menu-item p {
              max-width: 200px;
              position: relative;
              cursor: pointer;
              font-family: 'Montserrat', sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              line-height: normal;
              letter-spacing: 0;
              color: #fff; }
              .services-page._menu-open .header__menu-wrapper .header__menu-row .header__menu-nav .header__menu-list .header__menu-item p::before {
                content: "";
                position: absolute;
                left: 0px;
                width: 0px;
                min-height: 2px;
                top: 50%;
                transform: translateY(-50%);
                background-color: #fff;
                transition: .3s; }
      .services-page._menu-open .header__menu-wrapper .home__footer {
        padding: 0; }
    .services-page._menu-open .services-page {
      position: relative; }
    .services-page._menu-open .home__footer .localisation-field {
      display: flex; }
    .services-page._menu-close .header__menu-overlay {
      animation: burgerHideOverlayAnimation 1.5s forwards;
      opacity: 1;
      z-index: 12; }
  @keyframes burgerHideOverlayAnimation {
    0% {
      top: 0; }
    100% {
      top: -100vh; } }
    .services-page__popup-overlay .services-page__popup {
      margin: 0 30px;
      min-width: auto;
      width: 100%; }
    .services-page .header__menu-overlay {
      top: -100vh;
      display: block;
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(5px);
      opacity: 0;
      z-index: -1; }
      .services-page .header__menu-overlay._quickly-close-overlay {
        display: none; }
    .services-page .header__menu-wrapper {
      opacity: 0;
      transition: .5s; }
    .services-page__menu {
      padding: 25px 30px;
      position: fixed;
      top: 0;
      width: 100%;
      height: auto;
      background-color: transparent;
      z-index: 9;
      transition: 0.4s; }
      .services-page__menu .services-menu__wrapper {
        width: 100%;
        flex-direction: row; }
      .services-page__menu._menu-show {
        top: 0px;
        transition: 0.4s;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(5px); }
      .services-page__menu._menu-hide {
        top: -100px;
        transition: 0.4s;
        background-color: transparent;
        backdrop-filter: blur(0px); }
      .services-page__menu._hide-bg {
        background-color: transparent;
        backdrop-filter: blur(0px); }
      .services-page__menu .services-page__menu-nav {
        display: none; }
      .services-page__menu-logo--link {
        z-index: 13; }
      .services-page__menu-phantom {
        height: 100px; }
      .services-page__menu .localisation-field {
        display: none; }
      .services-page__menu .header__menu {
        display: flex; }
    .services-page__main {
      padding: 30px;
      width: 100%;
      height: auto; }
      .services-page__main .services-page__user-location {
        margin-top: 40px; }
      .services-page__main .services-page__title {
        margin-top: 50px;
        margin-bottom: 25px;
        font-size: 40px; }
        .services-page__main .services-page__title::before {
          top: -30px;
          height: 60px; }
      .services-page__main .services-page__description-box .services-page__description-tags__container {
        gap: 15px 20px; }
        .services-page__main .services-page__description-box .services-page__description-tags__container .services-page__description-tag {
          font-size: 14px;
          padding: 8px 30px; } }
@media screen and (max-width: 600px) {
  .services-page._menu-open .header__menu-wrapper {
    padding: 0 30px; }
    .services-page._menu-open .header__menu-wrapper .header__menu-row {
      flex-direction: column;
      justify-content: center;
      column-gap: 0; }
      .services-page._menu-open .header__menu-wrapper .header__menu-row .header__menu-img {
        display: none; }
      .services-page._menu-open .header__menu-wrapper .header__menu-row .header__menu-nav .header__menu-list .header__menu-item:hover {
        transform: translateX(-15px); }
        .services-page._menu-open .header__menu-wrapper .header__menu-row .header__menu-nav .header__menu-list .header__menu-item:hover p::before {
          left: -70px;
          width: 74.3px; }
      .services-page._menu-open .header__menu-wrapper .header__menu-row .header__menu-nav .header__menu-list .header__menu-item__rhombus {
        margin-right: 70px; }
      .services-page._menu-open .header__menu-wrapper .header__menu-row .header__menu-nav .header__menu-list .header__menu-item p::before {
        min-height: 1px; }
  .services-page .header__menu .rolling__block {
    display: none; }
  .services-page__popup-overlay .services-page__popup {
    padding: 25px; }
    .services-page__popup-overlay .services-page__popup-header {
      margin-bottom: 30px; }
    .services-page__popup-overlay .services-page__popup .gradient-btn {
      margin-top: 10px; }
  .services-page__main .services-page__user-location, .services-page__main .services-page__user-location a {
    font-size: 14px; }
    .services-page__main .services-page__user-location svg:nth-child(1), .services-page__main .services-page__user-location a svg:nth-child(1) {
      width: 18px;
      height: 18px; }
  .services-page__main .services-page__user-location a {
    white-space: nowrap; }
  .services-page__main .services-page__services-container .services-page__service {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .services-page__main .services-page__services-container .services-page__service-img {
      width: 260px;
      height: 156px; }
  .services-page__main .services-page__description-box {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .services-page__main .services-page__description-box .services-page__description-title {
      justify-content: center;
      column-gap: 10px; }
      .services-page__main .services-page__description-box .services-page__description-title span {
        width: 30px; }
        .services-page__main .services-page__description-box .services-page__description-title span:nth-child(3) {
          display: block; }
      .services-page__main .services-page__description-box .services-page__description-title p {
        text-align: center; }
    .services-page__main .services-page__description-box .services-page__description-tags__container {
      justify-content: center; }
    .services-page__main .services-page__description-box .services-page__description {
      text-align: center; } }
@media screen and (max-width: 500px) {
  .services-page__popup-overlay .services-page__popup {
    padding: 45px 30px;
    margin: 0;
    width: 100%; }
    .services-page__popup-overlay .services-page__popup-header {
      margin-bottom: 30px; }
    .services-page__popup-overlay .services-page__popup .gradient-btn {
      margin-top: 10px; } }
@media screen and (max-height: 800px) {
  .services-page__popup-overlay .services-page__popup {
    padding-top: 30px;
    padding-bottom: 30px; }
    .services-page__popup-overlay .services-page__popup-header {
      margin-bottom: 30px; }
    .services-page__popup-overlay .services-page__popup .services-page__popup-form {
      row-gap: 20px; }
      .services-page__popup-overlay .services-page__popup .services-page__popup-form .services-page__popup__input-box .services-page__popup-input {
        height: 46px; }
      .services-page__popup-overlay .services-page__popup .services-page__popup-form .services-page__popup__input-box .services-page__popup__textarea-wrapper .services-page__popup-textarea {
        height: 80px; } }
@media screen and (max-height: 620px) {
  .services-page__popup-overlay {
    display: none;
    justify-content: center;
    align-items: flex-start; }
    .services-page__popup-overlay._active {
      display: flex; }
    .services-page__popup-overlay .services-page__popup {
      top: 0; } }

/*# sourceMappingURL=services-page.css.map */
