@import "../../../main/style.scss";

.calculator-popup {
	width: 1000px;
	height: 500px;
	background-color: rgba($color: #121212, $alpha: 0.7);
	z-index: 4;
	position: fixed;
	top: 10%;
	@include display-center(center, center);
	border: 1px solid transparent;
	border-image: $main;
	border-image-slice: 1;
	backdrop-filter: blur(60px);
	overflow: hidden;

	&__element1 {
		width: 200px;
		height: 200px;
		background: $main;
		filter: blur(100px);
		position: absolute;
		left: 0%;
		top: 0%;
		z-index: 2;
	}

	&__element2 {
		width: 200px;
		height: 200px;
		background: $main;
		filter: blur(100px);
	}

	
	&__element3 {
		width: 200px;
		height: 200px;
		background: $main;
		filter: blur(100px);
		position: absolute;
		right: 0%;
		bottom: 0%;
	}


	&__close {
		position: absolute;
		right: 0%;
		top: 0%;
		margin-top: 20px;
		margin-right: 20px;
	}

	&__container {
		width: 100%;
		position: absolute;
		@include display-center(center, center);
		flex-direction: column;
		z-index: 2;

		&-box {
			width: 80%;
			@include display-center(center, center);
			flex-wrap: wrap;
			gap: 20px;
			margin-top: 40px;
			position: absolute;

		}

		&-box2 {
			flex-direction: column;
		}

		&-buttons {
			width: 350px;
			margin-top: 50px;
			position: relative;
			top: 100px;
		}
	}

	&__item {
		display: flex;

		&-icon {
			position: relative;
			left: 10px;
			z-index: 2;

			svg {

				.path-opacity {
					opacity: 1;
				}

				.path-opacity {
					opacity: 1;
				}
				.svg-color {
					display: flex;
					
				}
				
			}
		}

		&-input {
			width: 200px;
			height: 40px;
			background-color: #121212;
			position: relative;
			right: 10px;
			@include display-center(flex-start, center);

			p {
				@include font($white, 18px, 400, normal, 0);
				margin-left: 30px;
				background: $main;
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			input {
				width: 100%;
				height: 100%;
				background: transparent;
				border: none;

				outline: none;
				margin-left: 30px;
				@include font($white, 18px, 400, normal, 0);
				background: $main;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
				margin-right: 30px;

				&::placeholder {
					background: $main;
                	background-clip: text;
                	-webkit-background-clip: text;
                	-webkit-text-fill-color: transparent;
				}
			}
		}
	}

	&__title {
		@include font($white, 48px, 700, normal, 0);
		text-align: center;
		position: relative;
		bottom: 120px;
	}

	&__description {
		width: 7 0%;
		@include font($white, 24px, 600, normal, 0);
		text-align: center;
		margin-top: 15px;
		position: relative;
		bottom: 120px;
	}


}