@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

input, button, textarea {
  font-family: inherit; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

body {
  background-color: #000;
  overflow-x: hidden; }
  body._body-hidden {
    overflow: hidden; }

::selection {
  background: rgba(255, 255, 255, 0.2); }

::-webkit-scrollbar {
  width: 10px; }

::-webkit-scrollbar-track {
  background: #000; }

::-webkit-scrollbar-thumb {
  background: linear-gradient(99deg, #2BBFFE 5.86%, #8629FD 54.99%, #FC4AF5 100%); }

.App {
  overflow-x: hidden; }

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  /* змінюйте duration та timing function на ваш вибір */ }

.fade-in.visible {
  opacity: 1; }

.rolling__block {
  position: relative;
  height: 23px;
  overflow: hidden;
  transition: .5s; }
  .rolling__block:hover {
    transition: .5s; }
    .rolling__block:hover .rolling__block--before {
      transform: translateY(-23px); }
    .rolling__block:hover .rolling__block--after {
      transform: translateY(-23px); }
  .rolling__block .rolling__block--before, .rolling__block .rolling__block--after {
    transition: .5s; }
  .rolling__block .rolling__block--after {
    position: absolute; }

.social__media-wrapper {
  display: flex;
  column-gap: 20px; }

@media screen and (max-width: 600px) {
  .social__media-wrapper {
    column-gap: 15px; }

  .text-animation {
    display: none; } }
.App {
  overflow-x: hidden; }

.hidden {
  display: none !important; }

.loader-background {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 25;
  position: fixed; }

.loader__bg1 {
  width: 400px;
  height: 400px;
  position: absolute;
  filter: blur(300px);
  left: -10%;
  top: -10%;
  z-index: 21; }

.loader__bg2 {
  width: 400px;
  height: 400px;
  position: absolute;
  filter: blur(300px);
  right: -10%;
  bottom: -10%;
  z-index: 21; }

.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: 20;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  overflow: hidden; }
  .loader svg {
    width: 300px;
    height: 300px; }
  .loader .item {
    width: 300px;
    height: 300px;
    overflow: visible;
    stroke: #fff;
    stroke-width: 1;
    stroke-linejoin: round;
    stroke-linecap: round; }

@media screen and (max-width: 1200px) {
  .loader {
    overflow-x: hidden; }
    .loader svg {
      width: 250px;
      height: 250px; }
    .loader .item {
      width: 250px;
      height: 250px;
      overflow: visible;
      stroke: #fff;
      stroke-width: 0.5;
      stroke-linejoin: round;
      stroke-linecap: round; }
    .loader .loader__bg1 {
      width: 200px;
      height: 200px;
      position: absolute;
      filter: blur(200px);
      left: -5%;
      top: -5%; }
    .loader .loader__bg2 {
      width: 200px;
      height: 200px;
      position: absolute;
      filter: blur(200px);
      right: -5%;
      bottom: -5%; } }
@media screen and (max-width: 500px) {
  .loader__bg1 {
    width: 200px;
    height: 200px;
    position: absolute;
    filter: blur(100px);
    left: -3%;
    top: -3%; }

  .loader__bg2 {
    width: 200px;
    height: 200px;
    position: absolute;
    filter: blur(100px);
    right: -3%;
    bottom: -3%; }

  .loader {
    overflow: hidden; }
    .loader svg {
      width: 200px;
      height: 200px;
      z-index: 24 !important; }
    .loader .item {
      width: 200px;
      height: 200px;
      overflow: visible;
      stroke: #fff;
      stroke-width: 0.5;
      stroke-linejoin: round;
      stroke-linecap: round; } }

/*# sourceMappingURL=loader.css.map */
